code {
    font: 1em mono;
    color: black;
    padding: 1em 1em 1em 1em;
    margin: 0 0 0 0;

    border: 1px solid #606080;
    border-left: 8px solid #606080;
    background-color: #eee;
    display: block;
    white-space: pre;
    overflow: auto; /* get scroll when needed */
}
