html {
    overflow-y: scroll;
}
body {
    color: #152837;
    background-image: linear-gradient(to right, #b6e1fc, aliceblue);
    font-family: sans-serif;
    font-size: 100%;
    text-align: justify;
    margin: 0px auto 0px auto;
    width: 80%;
}

div#header {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font: Courier, mono;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b506e;
    font-weight: normal;
    margin: 1.5em 0 0.5em 0; /* padding between sections */
}

div#header a {
    font-family: Courier, monospace;
    color: darkslategray;
    background-image: linear-gradient(to right, darkgray, gainsboro);
    font-size: 250%;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: block; /* fill 100% of header */
}

div#navigation {
    font-size: 150%;
    font-family: Courier, monospace;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
    text-align: right;
}

div#post-list {
    font-size: 120%;
}
div#post-list ul {
    list-style: disc;
    color: slategray;
}

p {
    margin: 0.5em 0 0.5em 0;
}

a {
    text-decoration: underline;
    color: #2b506e;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    background-color: black;
    font-weight: bold;
    color: white;
}
a:focus { outline: none; }

div#footer {
    border-top: solid 1px black;
    color: #555;
    font-style: italic;
    color: gray;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}
div#footer a {
    color: gray;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

tr {
    font-size: 14px;
}

td {
    padding: 0em 0.2em 0em 0.2em;
}

div.epigraph {
    text-align: right;
    font-style: italic;
    padding: 1em 0 1em 0;
}

/* mobile phones, etc. */
@media (max-width: 1000px) {
    body {
        font-size: 150%;
        width: 98%;
    }
}

::selection {
  background: lightsteelblue;
}
