html {
    overflow-y: scroll;
}

body {
    color: dimgray;
    background-color: aliceblue;
    font: 1em "Courier", Courier, mono;
    text-align: justify;
    margin: 0px auto 0px auto;
    width: 80%;
}

div#header {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

div#header a {
    color: lightslategray;
    background-color: gainsboro;
    font-size: 2.1em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: block; /* fill 100% of header */
}

div#navigation {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
    text-align: right;
}

div#navigation a {
    color: lightslategray;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
}

p {
    margin: 0.5em 0 0.5em 0;
}

a {
    text-decoration: underline;
    color: steelblue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color:midnightblue;
    font-weight: bold;
}

div#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    margin: 3em 0 0 0; /* padding between sections */
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

tr {
    font-size: 14px;
}

td {
    padding: 0em 0.2em 0em 0.2em;
}
