/* hk-2.9 */
code span.kw { color: #3388ff; font-weight: bold; }
code span.dt { color: #0000ff; }
code span.dv { color: #000000; }
code span.bn { color: #000000; }
code span.fl { color: #11aa00; }
code span.ch { color: #11aa00; }
code span.st { color: #11aa00; }
code span.co { color: #8888aa; }
code span.ot { color: #aa44ff; }
code span.al { color: red; font-weight: bold; }
code span.fu { color: #000000; }
code span.re { }
code span.er { color: red; font-weight: bold; }
